@import url('/static/fonts/Lato/Lato.css');
@import url('/static/fonts/foundation-icons/foundation-icons.css');
@import url('/static/fonts/font-awesome/css/font-awesome.min.css');

* {
    font-family: 'Lato', san-serif;
    box-sizing: border-box;
}

:root {
    /* PALETTE */
    --primary-color-dark: #25274d;
    --primary-color-light: #464866;
    --secondary-color-dark: #29648a;
    --secondary-color-light: #2e9cca;
    --neutral-color: #aaabb8;

    --text-color: #fff;

    /* POSITIONING */
    --topmost-margin: 20px;
    --panel-height: 50px;
}

html,
body {
    margin: 0;
    background-color: var(--primary-color-dark);
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
}

main {
    margin-top: var(--topmost-margin);
    height: 100%;
}

h1,
h4,
h6 {
    padding: 0 20px;
    font-weight: 300;
    text-align: center;
    color: var(--text-color);
}

h1:first-child {
    margin-top: 0;
}

h6 {
    margin: 0;
    padding: 0;
}

.dashboard {
    padding: 0;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: calc(100% - var(--panel-height) - var(--topmost-margin));
}

.dashboard__header {
    flex: 1;
}

.panel {
    display: flex column;
    align-items: stretch;
    background-color: var(--primary-color-light);
    min-height: 50px;
    padding: 4px 4px 0px 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel__container {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.panel__item {
    display: flex column;
    flex: 1;
    color: var(--text-color);
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.panel__item:active {
    background-color: var(--secondary-color-light);
}

.panel__item__icon {
    display: flex;
    flex: 1;
    justify-content: center;
}

.panel__item__icon.fa {
    margin-top: 4px;
    font-size: 16px;
}

.panel__item__title {
    margin-top: 2px;
}

.panel__item__title--fa {
    margin-top: 4px;
}
