@import url('/static/fonts/Lato/Lato.css');
@import url('/static/fonts/foundation-icons/foundation-icons.css');
@import url('/static/fonts/font-awesome/css/font-awesome.min.css');

* {
    font-family: 'Lato', san-serif;
    box-sizing: border-box;

    /* PALETTE */
    --primary-color-dark: #25274d;
    --primary-color-darker: #191a34;
    --primary-color-light: #464866;
    --secondary-color-dark: #29648a;
    --secondary-color-light: #2e9cca;
    --neutral-color: #aaabb8;

    /* OTHER COLORS */
    --text-color: #fff;

    /* POSITIONING */
    --panel-height: 50px;
}

html,
body {
    margin: 0;
    background-color: var(--primary-color-dark);
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
}

main {
    padding-top: 20px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

h1,
h4,
h6 {
    padding: 0 20px;
    font-weight: 300;
    text-align: center;
    color: var(--text-color);
}

h1:first-child {
    margin-top: 0;
}

h6 {
    margin: 0;
    padding: 0;
}

.dashboard {
    position: relative;
    padding: 0;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: calc(100% - var(--panel-height));
    z-index: 1;
}

.dashboard__header {
    flex: 1;
}

.panel {
    position: relative;
    height: var(--panel-height);
    background-color: var(--primary-color-light);
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
}

.panel__container {
    display: flex;
    height: 100%;
    align-items: stretch;
    margin: 0 auto;
    padding: 0;
}

.panel__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: var(--text-color);
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 4px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

.panel__item:active {
    background-color: rgba(100, 100, 100, .7);
}

.panel__item--selected {
    background-color: var(--primary-color-darker);
    color: var(--secondary-color-light);
}

.panel__item__icon {
    display: flex;
    flex: 1;
    justify-content: center;
}

.panel__item__icon.fa {
    padding-top: 4px;
    font-size: 16px;
}

.panel__item__title--fa {
    padding-top: 4px;
}
