<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/style.css" rel="stylesheet">
        <link rel='shortcut icon' href='/static/favicon.ico'>
        <script type='module' src="/static/js/app.js"></script>
        <script src="/static/js/vendor/live.js"></script>
        <title>Dubois</title>
    </head>
    <body>
        <joystick-area>
            <h1>Hi, I'm Dubois 🤖</h1>
            <h4>Created by his excellency, Efe ;)</h4>
        </joystick-area>
    </body>
</html>
