@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

* {
    font-family: 'Lato', san-serif;
}

:root {
    background-color: #142850;
    width: 100vw;
    height: 100vh;
}

h1,
h4 {
    font-weight: 300;
    text-align: center;
    color: #fff;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

joystick-area {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
