<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <!-- Dubois shortcut icon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/static/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- End Dubois shortcut icon -->
        <link rel='stylesheet' href='/static/css/style.css'>
        <script type='module' src='/static/js/app.js'></script>
        {% if debug %}<script src='/static/js/vendor/live.js'></script>{% endif %}
        <title>{{ title }}</title>
    </head>
    <body>
        <main>
            <div class='dashboard'>
                <dbs-joystick-area class='dashboard__area'>
                    <h1 class='dashboard__header'>
                        {{ greeting }}
                    </h1>
                    <h4 class='dashboard__header'>
                        {{ instructions }}
                    </h4>
                </dbs-joystick-area>
            </div>
            <div class='panel'>
                <ul class='panel__container'>
                    <li class='panel__item' id='headlightButton'>
                        <i class='panel__item__icon fi-lightbulb'></i>
                        <h6 class='panel__item__title'>
                            Headlights
                        </h6>
                    </li>
                    <li class='panel__item' id='buzzerButton'>
                        <i class='panel__item__icon fi-megaphone'></i>
                        <h6 class='panel__item__title'>
                            Buzzer
                        </h6>
                    </li>
                    <li class='panel__item'>
                        <i class='panel__item__icon fi-camera'></i>
                        <h6 class='panel__item__title'>
                            Camera
                        </h6>
                    </li>
                    <li class='panel__item' id='indicatorButton'>
                        <i class='panel__item__icon fa fa-bell'></i>
                        <h6 class='panel__item__title panel__item__title--fa'>
                            Indicator
                        </h6>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>
